# Dependencies
node_modules

# Next.js
.next/
out/

# Production
build
dist
dist-ssr

# Environment
*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Data
data/

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
